.title {
  color: #007bff;
}

.nav-options {
  gap: 1rem;
}

.location-icon {
  color: #007bff;
}

.about {
  background-color: #bdddff;
}

.schedule-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
}

.schedule-button {
  width: 50vw;
  height: 16vh;
  font-size: 2rem;
}

.schedule-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
