.title{
  color: #007bff;
}

/* nav bar custom CSS */
.nav-options {
  gap: 1rem; 
}

/* Home custom CSS */
.location-icon{
  color: #007bff;
}

/* About custom css */
.about{
background-color: #bdddff;
}

